html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat";
    background-color: #ffc107;
    font-weight: 500;

}

a {
    color: black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

#header {
    background-color: #F3E2CB;
    padding-top: 120px;
}

.navbar {
    background-color: #ead7bd;

}

.navbar-brand {
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 1.25rem;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-family: "Ubuntu";
    font-weight: 700;
}

.logo-img {
    width: 40px;
    height: 40px;
}

.logo-text {
    padding-left: 10px;
}

.title-image {
    width: 100%;
    border-radius: 30px;
}

.hero-text h1,
h1.about-us {
    font-size: 2rem;
}

h1.about-us {
    margin-top: 50px;
}

#about-us {
    padding-bottom: 50px;
    scroll-margin-top: 40px;
}

.btn-lg {
    font-size: 1rem;
}

.btn-header {
    font-weight: 500;
    max-width: 350px;
}

.btn-modal {
    font-weight: 500;
    margin: 1.2rem 0 0 auto;
}

.btn-text {
    margin-left: 8px;
}

.fa-ticket-alt {
    transform: rotate(-45deg);
}

.bg-curve {
    position: relative;
    overflow: hidden;
    height: 80px;
}

.bg-curve::before {
    border-radius: 50%;
    position: absolute;
    background: #F3E2CB;
    right: -100px;
    left: -100px;
    top: -30px;
    content: '';
    bottom: 0;
}

.about-us::after {
    content: "";
    display: block;
    width: 60px;
    height: 2px;
    margin: 15px auto;
    background-color: black;
}

.modal-header {
    border-bottom: 1px solid #3c4343;
}

.modal-content {
    background-color: #F3E2CB;
}

#schedule {
    background-color: #F3E2CB;
    scroll-margin-top: 40px;
}

.card {
    background-color: #F3E2CB;
    border: 0;
    border-radius: 1.5rem;
    overflow: hidden;
    box-shadow: 8px 14px 38px rgba(39, 44, 49, .6), 1px 3px 8px rgba(39, 44, 49, .3);
    transition: all .5s ease;
}

.card:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    box-shadow: 8px 28px 50px rgba(39, 44, 49, .7), 1px 6px 12px rgba(39, 44, 49, .4);
    transition: all .4s ease;
}

.argo-details {
    background: linear-gradient(to right, rgba(12.94%, 14.90%, 22.75%, 1.00) 150px, rgba(20.39%, 22.35%, 29.02%, 0.84) 100%), url(./images/argo-bg.jpg);
    background-size: cover;
    color: white;
}

.ratatouille-details {
    background-image: linear-gradient(to right, rgba(8.24%, 37.65%, 74.12%, 1.00) 150px, rgba(14.51%, 44.71%, 81.96%, 0.84) 100%), url(./images/ratatouille-bg.jpg);
    background-size: cover;
    color: white;
}

.mad-max-details {
    background-image: linear-gradient(to right, rgba(8.63%, 63.53%, 69.41%, 1.00) 150px, rgba(7.06%, 50.59%, 55.29%, 0.84) 100%), url(./images/mad-max-bg.jpg);
    background-size: cover;
    color: white;
}

.toystory-details {
    background-image: linear-gradient(to right, rgba(3.14%, 14.51%, 40.39%, 1.00) 150px, rgba(7.06%, 20.39%, 50.59%, 0.84) 100%), url(./images/toy-story-3-bg.jpg);
    background-size: cover;
    color: white;
}


.duration {
    margin-left: 30px;
}

.btn-movie {
    font-weight: 500;
}

#contact {
    background-color: #F3E2CB;
}

#news {
    scroll-margin-top: 80px;
}

.card-img-top {
    max-height: 200px;
}

.news-logo-img {
    max-width: 30%;
}

.gardens-button {
    max-width: 350px;
}

@media (max-width:760px) {
    #header {
        padding-top: 90px;
    }

    .news-logo-img {
        max-width: 70%;
    }
}